<h1>Hello, this is the list of my restaurants</h1>
<ul>
  <% @restaurants.each do |r| %>
    <li>
      <a href="/restaurants/<%= r.id %>">
        <%= r.name %>
      </a>
    </li>
  <% end %>
</ul>

<form action="/restaurants" method="post">
    <label for="name">Name</label>
    <input type="text" name="name">
    <label for="address">Address</label>
    <input type="text" name="address">
    <input type="submit">
</form>
