<!-- lien retour (url racine) -->
<a href="/"> << Back</a>

<!-- on affiche les infos du restau -->
<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.address %></h2>
<h2><%= @restaurant.rating %></h2>
